@inherits ActionsBase
@page "/actions"

@using JobHunter.Shared
@using JobHunter.Application
@using BlueSite.Data.Entities

<SideBar MenuSet="todolist" OnClickCallback="@HandleSidebarOption" />

<div class="d-inline-block" style="width:70%">
    <h1>Action Items <span class="title-id">(@actions.Count(action => !action.IsDone) Active Items)</span></h1>
</div>
<div class="d-inline-block noprint" style="width:28%; text-align: right;">
    <DropDown OnClickCallback="@HandleSetActionType" Data="@Options" Value="@ActionType" Style="width:180px;" First="*|All" />
</div>
<table class="to-do" border="0" style="width: 100%">
    <tr class="action-header">
        <th class="column-action-status" style="width: 75px;">Done</th>
        <th class="column-action-status" style="width: 125px;">Status</th>
        <th class="column-action-name" style="width: 100%;">Name</th>
        <th class="column-action-type noprint" style="width: 125px;">Type</th>
        <th class="column-action-date noprint" style="width: 125px;">Start</th>
        <th class="column-action-date noprint" style="width: 125px;">End</th>
    </tr>
    @for (int i = 0; i < actions.Count; i++)
    {
        int index = i;
        ActionItem action = actions[index];
        if (!Utilities.GetDoneFromStatus(action) || !hideDone)
        {
            <ActionRow Index="@index.ToString()" Action="@actions[index]" Statuses="@Statuses" Types=@Options
                       OnChangeCallback="@HandleActionChange" OnRowOptionCallback="@HandleRowOptionClick" />
        }
    }
    <tr class="to-do noprint">
        <td width="40" class="right-align" colspan="2">Add:</td>
        <td width="100%">
            <input type="text" class="form-control to-do inset"
                   @onkeypress="@(e => handleNewActionKeypress(e))" @bind="newAction" @bind:event="oninput" />
        </td>
    </tr>
</table>


<Overlay @ref="overlay" />
<ActionStatus @ref="actionStatus" Statuses="@Statuses" OnChangeCallback="@HandleSetActionStatus" />
<Confirm @ref="confirm" Title="Confirm Delete Done Items" Message="Yes, if you select continue, all the items marked as done will be removed (You can't get them back)"
         OnClickCallback="@HandleDialogSelection" />
<NoteEdit @ref="noteEdit" overlay="@overlay" OnChangeCallback="@HandleNoteSave" NoteId=-1 />
