@inherits ActionEditBase
@page "/actionedit"
@page "/actionedit/{actId}"

@using JobHunter.Shared
@using JobHunter.Application
@using BlueSite.Data
@using BlueSite.Data.Entities

@inject IJSRuntime JsRuntime
@inject BlueSiteContext _context

<SideBar MenuSet="@ActionSet" OnClickCallback="@HandleSidebarOption" />

<EditForm Model="@Action" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
    <div class="d-inline-block" style="width:70%">
        <h1>Edit Action <span class="normal">(Id: #@Action.ActionItemId)</span></h1>
    </div>
    <div class="d-inline-block" style="width:28%; text-align: right;">
        <button class="btn btn-secondary" @onclick="HandleCancel" style="margin-top: 25px;">Cancel</button>
        <button class="btn btn-primary" style="margin-top: 25px;">Save</button>
    </div>
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="container left">
        <div class="row">
            <div class="form-group col-sm-12">
                <label class="form-label" for="action-title">Title</label>
                <input type="text" @bind-value="Action.Title" id="action-title" class="form-control bs-input-full bs-title inset" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4">
                <ComboBox Caption="Status" Id="action-status" HandleEventClick="@HandleActionStatusClick" Value="@Utilities.GetFriendlyTypeName(Action.Status, Statuses)" Width="225px" />
            </div>
            <div class="form-group col-sm-4">
                <ComboBox Caption="Action Type" Id="action-type" HandleEventClick="@HandleActionTypeClick" Value="@Utilities.GetFriendlyTypeName(Action.Type, ActionTypes)" Width="225px" />
            </div>
            <div class="form-group col-sm-4">
                <ComboBox Caption="Set Id" Id="action-set-id" HandleEventClick="@HandleActionSetIdClick" Value="@Action.SetId" Width="225px" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4">
                <label class="form-label" for="action-title">Start Date</label><br />
                <input type="date" @bind-value="Action.StartDate" id="action-start-date" class="form-control inset" style="width: 225px;" />
            </div>
            <div class="form-group col-sm-4">
                <label class="form-label" for="action-title">End Date</label><br />
                <input type="date" @bind-value="Action.EndDate" id="action-end-date" class="form-control inset" style="width: 225px;" />
            </div>
            <div class="form-group col-sm-4">
                <br /><Checkbox Label="Is Done?" Checked="@Action.IsDone" HandleDoneClick="@HandleDoneClicked" />
            </div>
        </div>
    </div>
</EditForm>
<SelectListing Id="1" @ref="actionTypeList" Data="@ActionTypes" OnChangeCallback="@HandleSetActionType" Class="select select-large" Width="220px" />
<SelectListing Id="2" @ref="actionSetIdList" Data="@ActionSetIds" OnChangeCallback="@HandleSetActionSetId" Class="select select-large" Width="220px" />
<SelectListing Id="3" @ref="actionStatusList" Data="@Statuses" OnChangeCallback="@HandleSetActionStatus" Class="select select-large" Width="220px" />
<div class="info">@StatusMessage</div>

