@inherits CompaniesBase
@page "/companies"
@using JobHunter.Shared
@using BlueSite.Data
@using BlueSite.Data.Entities
@inject IJSRuntime JsRuntime
@inject BlueSiteContext _context
<SideBar MenuSet="companies" />

<h1>Companies<TitleIcons Title="Companies" IconWidth="24px" /></h1>


@if (companies.Count < 1)
{
    <p>No companies found</p>
}
else
{
    <table class="to-do" border="0" style="width: 100%">
        @for (int i = 0; i < companies.Count; i++)
        {
            int index = i;
            BlueSite.Data.Entities.Company c = companies[index];
            <tr class="item-list">
                <td><a href="/companyedit/@c.CompanyId">@c.Name</a></td>
                <td><Address Company="@c" /></td>
                <td class="phones"><Phones Numbers="@c.Phones" PhoneTypes="@phoneTypes" /></td>
                <td><WebLink Url="@c.Website" option="icon" /><Location Url="@c.Location" /><ContactRelationships Parent="@this" Company="@c" /></td>
            </tr>
            <tr id="company-@c.CompanyId" class="hidden-row">
                <td colspan="4" class="item-relationship-list">
                    Relationships go Here
                </td>
            </tr>
        }
    </table>
}
<AddRelationsshipDialog @ref="dialog" Style="width: 750px;" />

