@inherits CompanyEditBase
@page "/companyedit"
@page "/companyedit/{id}"

@using JobHunter.Shared
@using JobHunter.Application
@using BlueSite.Data
@using BlueSite.Data.Entities

@inject IJSRuntime JsRuntime
@inject BlueSiteContext _context
<SideBar MenuSet="company" />

<EditForm Model="@Company" OnValidSubmit="HandleValidSubmit">
    <div class="d-inline-block" style="width:70%">
        <h1>Edit Organization <span class="title-id">(Id: #@Company.CompanyId.)</span></h1>
    </div>
    <div class="d-inline-block" style="width:28%; text-align: right;">
        <button class="btn btn-secondary" @onclick="HandleCancel" style="margin-top: 25px;">Cancel</button>
        <button class="btn btn-primary" style="margin-top: 25px;">Save</button>
    </div>
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="container left">
        <div class="row">
            <div class="form-group col-sm-12">
                <label class="form-label" for="company-name">Name</label>
                <input type="text" @bind-value="Company.Name" id="company-name" class="form-control bs-input-full bs-title inset" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <ComboBox Caption="Company Type" Id="company-type" HandleEventClick="@HandleCompanyTypeClick" Value="@Utilities.GetFriendlyDDName(Company.Type, CompanyTypes)" Width="225px" />
            </div>
            <div class="form-group col-sm-6">
                <ComboBox Caption="Interest" Id="company-interest" HandleEventClick="@HandleCompanyInterestClick" Value="@Utilities.GetFriendlyDDName(Company.Interest, CompanyIntrests)" Width="225px" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-8">
                <AddressEdit Company="@Company" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label class="form-label">Phone Numbers</label><br />
                @if (Company.Phones != null)
                {
                    @for (int a = 0; a < Company.Phones.Count; a++)
                    {
                        <PhoneNumber Id="phone-type" Index="a" Phone="Company.Phones[a]" PhoneTypes="PhoneTypes" HandleEventClick="@HandlePhoneTypeClick" Width="225px" />
                    }
                }
                <PhoneNumber Id="phone-type-new" Phone="NewPhone" PhoneTypes="PhoneTypes" HandleEventClick="@HandlePhoneTypeClick" Width="225px" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label class="form-label" for="action-title">Website</label>
                <input type="text" @bind-value="Company.Website" id="website" class="form-control bs-input-full inset" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label class="form-label" for="action-title">Location</label>
                <input type="text" @bind-value="Company.Location" id="website" class="form-control bs-input-full inset" />
            </div>
        </div>
    </div>
</EditForm>
<SelectListing Id="1" @ref="companyTypeList"     Data="@CompanyTypes"    OnChangeCallback="@HandleSetCompanyType"     Class="select select-large" Width="220px" />
<SelectListing Id="2" @ref="companyInterestList" Data="@CompanyIntrests" OnChangeCallback="@HandleSetCompanyInterest" Class="select select-large" Width="220px" />
<SelectListing Id="3" @ref="phoneTypeList"       Data="@PhoneTypes"      OnChangeCallback="@HandleSetPhoneType"       Class="select select-large" Width="120px" />
<div class="info">@StatusMessage</div>

