@inherits CompaniesBase
@page "/companies"
@using JobHunter.Shared
@using JobHunter.Application
@using BlueSite.Data
@using BlueSite.Data.Entities
@inject IJSRuntime JsRuntime
@inject BlueSiteContext _context

<SideBar MenuSet="companies" OnClickCallback="@HandleSidebarOption" />

<h1>Companies<TitleIcons Title="Companies" IconWidth="24px" /></h1>


@if (companies.Count < 1)
{
    <p>No companies found</p>
}
else
{
    <table class="to-do" border="0" style="width: 100%">
        @for (int i = 0; i < companies.Count; i++)
        {
            int index = i;
            BlueSite.Data.Entities.Company c = companies[index];
            var ct = GetContactsForCompany(c.CompanyId);
            string NoteIcon = (String.IsNullOrEmpty(c.Notes)) ? "Note" : "Note-Filled";

            <tr class="item-list hover grid-primary">
                <td>
                    @if (ct.Count > 0)
                    {
                        <img class="inline-menu link" src="images/icons/Expand-0.png" @onclick="e => HandleRowExpand(c.CompanyId.ToString())" />
                    }
                </td>
                <td><a href="/companyedit/@c.CompanyId">@c.Name</a></td>
                <td><Address Company="@c" /></td>
                <td class="phones"><Phones Numbers="@c.Phones" PhoneTypes="@phoneTypes" /></td>
                <td><WebLink Url="@c.Website" option="icon" Size="20"/><ContactRelationships Parent="@this"  Company="@c" Size="20" /><ImageButton Index="@i.ToString()" Image="@NoteIcon" ToolTip="View Notes" OnChangeCallback="@OnChangeCallback" Size="20" /></td>
            </tr>
            @if (ct != null && ct.Count > 0)
            {
                <tr id="company-@c.CompanyId" style="@hideContacts">
                    <td colspan="5" class="item-relationship-list">
                        <table width="100%" cellsacing="0" cellpadding="0" border="0">
                            @foreach (var contact in ct)
                            {
                            <tr class="hover grid-secondary">
                                <td class="contact contact-name"><a href="/contactedit/@contact.ContactId/companies">@contact.FirstName @contact.LastName</a></td>
                                <td class="contact contact-title">@contact.Title</td>
                                <td class="contact phones contact-phones"><Phones Numbers="@contact.Phones" PhoneTypes="@phoneTypes" /></td>
                                <td class="contact"><Address Contact="@contact" /></td>
                            </tr>
                            }
                        </table>
                    </td>
                </tr>
            }
        }
    </table>
}
<AddRelationsshipDialog OnClickCallback="@AddContactCallback" FromPage="companies" @ref="dialog" Parent="@Self" Style="width: 750px;" />
<CompanyNoteEditor @ref="companyNoteEditor" OnClickCallback="@HandleNoteChange" Style="width: 750px;" />

