@inherits MeetingPrepBase
@page "/meetingprep"
@page "/meetingprep/{MeetingId}"
@using JobHunter.Shared
@using JobHunter.Models
@using JobHunter.Application
@using BlueSite.Data
@using BlueSite.Data.Entities
@inject IJSRuntime JsRuntime
@inject BlueSiteContext _context

<SideBar MenuSet="prepmeeting" OnClickCallback="@HandleSidebarOption" />

    <div class="d-inline-block" style="width:70%">
        <h1>Meeting Prep: @Action.Title</h1>
    </div>

    <div class="page-column-6 flex-column">
        <table width="100%">
            <TableColumnWidths Widths="160" />
            <tr>
                <TextFieldTd Caption="Company" Value="@Company?.Name" Style="font-weight: bold; font-size: 120%;" />
            </tr>
            <tr>
                <TextFieldTd Caption="" Value="@CompanyAddress?.GetAddressString()" />
            </tr>
            <tr>
                <DateEditField Caption="Meeting Date" DateValue="@Action.EndDate" OnChangeCallback="@HandleDateChange" Style="width: 175px" Option="datetime" />
            </tr>
            <TableSpacer Height="15" />
            @foreach (var topic in Topics)
            {
                <tr>
                    <TopicEditSection Parent="@this" HandleTopicChange="@HandleTopicChanged" Topic="@topic" />
                </tr>
            }
            <tr>
                <td>
                    <input class="form-control form-label inset" placeholder="Add Topic" @onchange="(evt => HandleAddTopic(evt.Value.ToString()))" value="" />
                </td>
            </tr>
        </table>
    </div>


