@using JobHunter.Models
<select class="@Classes" @onchange="(eventArgs => OnClickCallback.InvokeAsync(eventArgs.Value.ToString()))" style="@Style">
    @foreach (var o in Options) {
        string sel = (o.Key == Value) ? "true" : "false";
        <option value="@o.Key" selected="@sel">@o.Value</option>
     }
</select>

@code {
    List<DDOption> Options = new List<DDOption>();

    [Parameter]
    public EventCallback<string> OnClickCallback { get; set; }

    [Parameter]
    public List<DDOption> Data { get; set; }

    [Parameter]
    public string Value { get; set; }


    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public string Style { get; set; } = "";

    private string sel = "";

    private string Classes = "form-control dropdown";

    protected override void OnInitialized()
    {
        foreach (var dd in Data)
        {
            Options.Add(new DDOption(dd.Key, dd.Value));
        }
    }

    protected override void OnParametersSet()
    {
        if (Class != "") Classes = $"{Classes} {Class}";
    }

    public void Refresh()
    {
        StateHasChanged();
    }

}
