@using JobHunter.Models
<select class="@Classes" @onchange="(eventArgs => OnClickCallback.InvokeAsync(eventArgs.Value.ToString()))" style="@Style" value="@Value">
    @foreach (var o in Options) {
        <option value="@o.Key">@o.Value</option>
     }
</select>

@code {
    List<DDOption> Options = new List<DDOption>();

    [Parameter]
    public EventCallback<string> OnClickCallback { get; set; }

    [Parameter]
    public List<DDOption> Data { get; set; }

    [Parameter]
    public string First { get; set; }

    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public string Style { get; set; } = "";

    private string sel = "";

    private string Classes = "form-control dropdown";

    protected override void OnInitialized()
    {
        if (First != null)
        {
            string[] opt = First.Split('|');
            Options.Add(new DDOption(opt[0], opt[1]));
        }

        foreach (var dd in Data)
        {
            Options.Add(new DDOption(dd.Key, dd.Value));
        }
    }

    protected override void OnParametersSet()
    {
        if (Class != "") Classes = $"{Classes} {Class}";
    }

    public void Refresh()
    {
        StateHasChanged();
    }

}
