@if (!String.IsNullOrEmpty(Action))
{
    <a href="@Action" target="_new"><img class="inline-menu link" style="@ImageSize"
         onmouseover="setIconImage(this, '@Image-1.png')"
         onmouseout="setIconImage(this, '@Image-0.png')"
         src="images/Icons/@Image-0.png"
         title="@Action" /></a>
}
else
{
    <img class="inline-menu link" style="@ImageSize"
         onmouseover="setIconImage(this, '@Image-1.png')"
         onmouseout="setIconImage(this, '@Image-0.png')"
         src="images/Icons/@Image-0.png"
         @onclick='eventArgs => OnChangeCallback.InvokeAsync($"{Index}|{Image}")'
         title="@ToolTip" />
}

@code {
    [Parameter]
    public string Image { get; set; }

    [Parameter]
    public string Index { get; set; }

    [Parameter]
    public string Type { get; set; }

    [Parameter]
    public string Action { get; set; }

    [Parameter]
    public string Size { get; set; } = "20";

    [Parameter]
    public string ToolTip { get; set; } = "";

    [Parameter]
    public EventCallback<string> OnChangeCallback { get; set; }

    string ImageSize;

    protected override void OnParametersSet()
    {
        ImageSize = $"height: {Size}px";
    }
}
